* {
    box-sizing:border-box;
    padding: 0;
    margin: 0;
}

.header {
    padding:20px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    background-color: #A2BCE0;
    color: #23395d;
    
}
.header h1 {
    display: inline-block;
    font-size: 48px;
    position: relative;
    left: 40px;
}
.profile-pic {
    border-radius: 50%;
    float: left;
    max-height: 225px;
    max-width: 225px;
}
.header nav {
    float: right;
    font-size: 30px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    
}

.header nav ul li {
    display: inline-block;
    margin-left: 40px;
    position:relative;
    top: 10px;
    right:25px;
    
}

a {
    color:#23395d;

}

.background-image {
    height: 400px;
    width: 100%;
    margin-bottom: 25px;
    background: url("../images/Portfolio-Header.jpeg");
    background-size: cover;
    background-position: center;
}

.content {
    display:flex;
    padding: 20px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.About-Me {
    display: flex;
    
}
.About-Me h2 {
    float:left;
    font-size: 40px;
}
.vertical {
    border-left: 2px solid black;
    height: 200px;
    position:relative;
    float: left;
    left:20px;

            
}
.About-Me p {
    float:right;
    text-align: left;
    position:relative;
    left: 25px;
    padding:20px;
    top: 40px;
    font-size:20px;
}
.Work {
    flex-wrap: wrap;
}

.Work {
    float:left;
    font-size: 40px;
}